In [1]:
import pandas as pd

In [2]:
from pathlib import Path
import sys

# Get the parent directory of the notebook file
current_dir = Path.cwd()
parent_dir = current_dir.parent

# Add the parent directory to the beginning of the system path
sys.path.insert(0, str(parent_dir))

# Now you can perform relative imports
from src.db_connection import DatabaseConnector

In [3]:
data = pd.read_csv('../data/reduced_horse_data.csv')
data.head()

,Race Time,Course,Course Direction,Course Characteristics,Prize,Distance (y),Race Type,Runners,New Class No.,Min Age,...,New Class LTO,Distance In Yards LTO,Value LTO,Pounds LTO,Official Rating LTO,Position LTO,Distance To Winner LTO,SP Odds LTO (Numerical),SP Odds LTO (Decimcal),Speed Rating LTO
0,01/10/2020 12:20:00,Salisbury,RH,Stiff / Galloping,5111,1760,Turf,12,4,2,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01/10/2020 12:20:00,Salisbury,RH,Stiff / Galloping,5111,1760,Turf,12,4,2,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01/10/2020 12:20:00,Salisbury,RH,Stiff / Galloping,5111,1760,Turf,12,4,2,...,4.0,1760,4464.0,131.0,0.0,4.0,6.2,16.0,17.0,53.0
3,01/10/2020 12:20:00,Salisbury,RH,Stiff / Galloping,5111,1760,Turf,12,4,2,...,5.0,1332,4075.0,131.0,0.0,11.0,30.5,33.0,34.0,23.0
4,01/10/2020 12:20:00,Salisbury,RH,Stiff / Galloping,5111,1760,Turf,12,4,2,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
len(data)

142348

In [4]:
db_connector = DatabaseConnector('horse')

db_connector.connect()

db_connector.save_data_frame(data, 'df1')

Connected to the database
Error saving DataFrame to table df1: NDFrame.to_sql() got an unexpected keyword argument 'cursor'

In [5]:
db_connector.disconnect()

Disconnected from the database

In [6]:
db_connector = DatabaseConnector('horse')  # Replace 'horse' with your actual database name
db_connector.connect()

# Save the DataFrame to a table named 'my_table' (if it doesn't exist, it will be created)
try:
    # Check if the table already exists
    cursor = db_connector.connection.cursor()
    cursor.execute("SHOW TABLES LIKE 'df1'")
    result = cursor.fetchone()

    if not result:
        # Table doesn't exist, create it using a separate query
        # (consider using your DatabaseConnector's create_table_if_not_exists method)
        create_table_query = "CREATE TABLE df1 (col1 INT, col2 VARCHAR(255))"
        cursor.execute(create_table_query)

    # Now save the DataFrame using pandas.to_sql
    data.to_sql(name='df1', con=db_connector.connection, if_exists='replace', index=False)
    print('DataFrame successfully saved to table my_table')
except Exception as e:
    print(f'Error saving DataFrame to table: {e}')

# Close the database connection (optional, handled by the DatabaseConnector class in some cases)
db_connector.disconnect()

Connected to the database
Error saving DataFrame to table: Execution failed on sql '
        SELECT
            name
        FROM
            sqlite_master
        WHERE
            type IN ('table', 'view')
            AND name=?;
        ': Not all parameters were used in the SQL statement
Disconnected from the database

/var/folders/nv/lzp9ffbj6cs24kjrpcj0q1ym0000gn/T/ipykernel_27999/4089712761.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data.to_sql(name='df1', con=db_connector.connection, if_exists='replace', index=False)